<div class="container">
  <h1 class="text-center">Trails in the region</h1>

  <% trails.trails.forEach( function(trail) {%>
      <div class="well">
        <h3><%= trail.name %></h3>
        <h4><%= trail.length %> miles | Rating: <%= trail.stars %> | Elevation: <%= trail.ascent %> feet</h4> <br>
        <h5><%= trail.summary %></h5> <br>
        
        <form method="POST" action="/trail/favorites">
        <input hidden type="text" name="name" value="<%= trail.name %>">
        <input hidden type="text" name="lat" value="<%= trail.latitude %>">
        <input hidden type="text" name="lon" value="<%= trail.longitude %>">
        <input hidden type="text" name="number" value="<%= trail.id %>">
        <button class="btn btn-primary" type="submit">Add to Favorites</button>
      </form>
      </div>
  <% }); %>
</div>