<% if (!currentUser) { %>
    <a href="/">Home</a> |
    <a href="/auth/signup">Signup</a> |
    <a href="/auth/login">Login</a>
<% } else { %>
    <p>Hello, <%= currentUser.name %></p>
    <a href="/">Home</a> |
    <a href="/profile">Profile</a> |
    <a href="/favorites">Favorites</a> |
    <a href="/auth/logout">Logout</a>
<% } %>

<div class="well">
    <h3><%= trailDetails.trails[0].name %></h3>
    <h4>Trail Length: <%= trailDetails.trails[0].length %> miles | Rating: <%= trailDetails.trails[0].stars %>/5
    | Elevation: <%= trailDetails.trails[0].ascent %> feet</h4> 
    <h4>Difficulty: <%=trailDetails.trails[0].difficulty%></h4>
    <h5><%= trailDetails.trails[0].summary%></h5>
    <div><img src="<%= trailDetails.trails[0].imgMedium%>"></div>

    <hr/>

    <h4>Reviews: You must sign in to post and view comments</h4>

</div>