<div class="container-show">
    <h3><%= trailDetails.trails[0].name %></h3> <br>
    <h5><%= trailDetails.trails[0].summary%></h5> <br>
    <h5>Trail Details</h5>
    <p>Trail Length: <%= trailDetails.trails[0].length %> miles</p>
    <p>Rating: <%= trailDetails.trails[0].stars %>/5</p>
    <p>Elevation Gain: <%= trailDetails.trails[0].ascent %> feet</p>
    <p>Difficulty: <%=trailDetails.trails[0].difficulty%></p> <br/>
    <div><img src="<%= trailDetails.trails[0].imgMedium%>"></div>
    <form method="POST" action="/favorites/<%=trailDetails.trails[0].id%>/?_method=DELETE"><br>
        <button class="btn btn-light" type="submit">Remove from Favorites</button>
    </form> <br>
    <a href="/favorites" class="btn m-2 btn-light">Back to Favorites</a>

    

    <% if (trail) { %>
        <h4>Review:</h4>
        <form action="/favorites/<%= trail.number %>/comments" method="POST">
            <textarea type="text" name="comment" placeholder="Add a review"></textarea> <br />
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    <br>
        

    <% } %>

    <% if (trail) { %>
        <% trail.comments.forEach(function(comment) { %>
            <p>"<%= comment.comment%>" - <%=comment.name%></p>
            <% if (comment.userId === currentUser.id) { %>
                <a href="/comments/<%= comment.id %>/edit" class="btn m-2 btn-light">Edit Review</a>
            <% } %>
            <p><%= moment(comment.createdAt).calendar() %></p>
        <% }); %>

    <% } %>


</div>

<% if (similarLengthDetails) { %>
    <div class="container-show">
        <h2>Similar Hikes</h2>
    
        <h3>Similar Length: <%= similarLengthDetails.name %></h3>
    
<% } %>

<% if (similarAscentDetails) { %>
    
        <h3>Similar Elevation Gain: <%= similarAscentDetails.name %></h3>
    
    </div>
<% } %>