<% if (!currentUser) { %>
    <a href="/auth/signup">Signup</a> |
    <a href="/auth/login">Login</a>
<% } else { %>
    <p>Hello, <%= currentUser.name %></p>
    <a href="/">Home</a> |
    <a href="/profile">Profile</a> |
    <a href="/favorites">Favorites</a> |
    <a href="/auth/logout">Logout</a>
<% } %>

<div class="well">
    <h3><%= trailDetails.trails[0].name %></h3>
    <a href="/favorites" class="btn btn-primary">Back to Favorites</a>
    <h4>Trail Length: <%= trailDetails.trails[0].length %> miles | Rating: <%= trailDetails.trails[0].stars %>/5
    | Elevation: <%= trailDetails.trails[0].ascent %> feet</h4> 
    <h4>Difficulty: <%=trailDetails.trails[0].difficulty%></h4>
    <h5><%= trailDetails.trails[0].summary%></h5>
    <div><img src="<%= trailDetails.trails[0].imgMedium%>"></div>
    <form method="POST" action="/favorites/<%=trailDetails.trails[0].id%>/?_method=DELETE"><br>
        <button class="btn btn-primary" type="submit">Remove from Favorites</button>
    </form>

    <hr/>

    <h4>Review:</h4>
    <form action="/favorites/<%= trail.number %>/comments" method="POST">
        <textarea type="text" name="comment" placeholder="Add a review"></textarea> <br />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <hr />

    <% if (trails.comments) { %>
        <% trail.comments.forEach(function(comment) { %>
            <p>"<%= comment.comment%>" - <%=comment.name%></p>
            if (comment.userId === currentUser.id) {
                <form method="POST" action="/favorites/<%= trail.number %>/comments/?_method=PUT">
                    <input type="submit" value="Edit Review">
                </form>
            }
            <p><%= moment(comment.createdAt).calendar() %></p>
        <% }); %>

    <% } %>


</div>

<div class="well" id="rating">

</div>